= render "shared/header"
.comments-index
  .comments-index__comments
    -@comments.each do |c|
      .comments-index__comments__comment
        = image_tag "#{c.image}", alt: '', height: '200', width: '200', class: ''
        .mask
          .caption #{c.text}
= link_to new_comment_path do
  #display-btn
    %p 投稿する
