= render "shared/header"
- breadcrumb :newcomment
= render "layouts/breadcrumbs"

.comments-main
  = form_with(model: @comment, local: true) do |f|
    = f.label '画像を選択'
    #img_field{:onclick => "$('#file').click()"}
      - if @comment.image.url.present?
        = image_tag(@comment.image.url)
      - else
        %i.fas.fa-image
        %i.fas.fa-file-upload.add
    = f.file_field :image, class:"comment-img", style: "display:none;", id:"file"
    <br>
    = f.label :text
    <br>
    = f.text_field :text, class:"tweet"
    <br>
    = f.submit "送信", class: "submit-btn"