= render "shared/header"
- breadcrumb :comment
= render "layouts/breadcrumbs"
.comment-show-wrap
  .comment-show-wrap__left-box
    = image_tag "#{@comment.image}", alt: '', height: '300', width: '300', class: 'comment-show-wrap__left-box__img'
    .comment-show-wrap__left-box__text
      #{@comment.text}
    - if current_user
      = form_with(model: [@comment, @talk], local: true, id: "new_message") do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2"
        = form.submit "SEND"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  .comment-show-wrap__right-box
    .comments
      %h4 ＜コメント一覧＞
      - if @talks
        - @talks.each do |talk|
          - if talk.user.name == current_user.name
            .comments__comment-right
              .right
                = talk.text
              %i.fas.fa-user-circle
                = link_to talk.user.name, "#", class:"user-icon"
          - else
            .comments__comment-left
              %i.fas.fa-user-circle
                = link_to talk.user.name, "#", class:"user-icon"
              .left
                = talk.text
= render "shared/footer"