= render "shared/header"

.category-image
  - @dogs.each do |b|
    = link_to image_tag("#{b.image}", class: "category-image__photo"), search_path(b)

.wrap-ranking
  %p 人気の犬種から探す
  .wrap-ranking__top
    - @all_ranks.each_with_index do |rank, i|
      .wrap-ranking__top__rank
        .wrap-ranking__top__rank--num
          %i.fas.fa-crown
          &nbsp;#{i+1}
        = link_to image_tag("#{rank.image}", alt: '', height: '180', width: '180', class: 'wrap-ranking__top__rank--img'), search_path(rank)

.wrap-display
  %p みんなの投稿から探す
  .wrap-display__new-comments
    - @comments.each do |c|
      = link_to image_tag("#{c.image}", alt: '', height: '150', width: '150', class: "display-img"), "#"
  = link_to "もっと見る＞＞", comments_path, class: "wrap-display--more"

.wrap-category
  %p グループから探す
  .wrap-category__nav
    -@parents.each do |p|
      = link_to "#{p.name}", searches_path, class:"wrap-category__nav--group"
  = link_to 'もっと見る＞＞', searches_path, class:"wrap-category--more"

.footer