.header
  .header__upper-box
    .header__upper-box--logo logo
    .header__upper-box__search-box
      = form_with(url: "#", local: true, method: :get) do |f|
        = f.text_field :keyword, class: "search", placeholder: 'キーワードから探す'
        = image_submit_tag '/images/search.png', class: "btn"
  .header__under-box
    .header__under-box--category
      .list
        = link_to 'カテゴリ検索', "#"
        = link_to 'ユーザーの投稿一覧', "#"
        = link_to 'ログイン', new_user_session_path
        = link_to '新規登録', new_user_registration_path
        = link_to "ログアウト", destroy_user_session_path, method: :delete
        = link_to "マイページ", user_path(current_user)


.category-image
  - @dogs.each do |b|
    = image_tag "#{b.image}"

.wrap-ranking
  .wrap-ranking__top
    人気の犬種
    .wrap-ranking__top--split
      .image
        1st
      .image
        2nd
      .image
        3rd
    .wrap-ranking__top--split
      .image
        4th
      .image
        5th
      .image
        6th
    .wrap-ranking__top--split
      .image
        7th
      .image
        8th
      .image
        9th
      .image
        10th



.display
  登録した犬の画像
.user-dogs
  登録したユーザー一覧
.footer
  フッタ