.header
  .header__upper-box
    .header__upper-box--logo
      = link_to "logo", root_path
    .header__upper-box__search-box
      = form_with(url: "#", local: true, method: :get) do |f|
        = f.text_field :keyword, class: "search", placeholder: 'キーワードから探す'
        = image_submit_tag '/images/search.png', class: "btn"
  .header__under-box
    .header__under-box--category
      .list
        = link_to 'カテゴリ検索', searches_path
        = link_to 'ユーザーの投稿一覧', "#"
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          = link_to "マイページ", user_path(current_user)
        - else
          = link_to 'ログイン', new_user_session_path
          = link_to '新規登録', new_user_registration_path